.text-center {
    text-align: center;
}

.container {
    margin: auto;
    width: 300px;
    height: 600px;
    border: 2px solid rgb(162, 160, 47);
    box-shadow: 0 0 15px #a74c4c;
    font-size: x-large;
    background-color: rgb(5, 83, 83);
}

.enter {
    margin-top: 5px;
    font-size: x-large;

}

.country,
.city,
.temp,
.clouds,
.features {
    padding-left: 30%;
    color: rgb(5, 241, 88);
}

.features {
    list-style-type: none;
}

.button-primary {
    margin-left: 40%;
    font-size: x-large;
}